*{
    margin: 0px;
}
.comp{
    display: block;
}
.phone{
    display: none;
}

.section_menu{
   background: #152C39;

    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2{
    background: #152C39;

    width: 100%;
    height: auto;
}
.vashdom{
    display: flex;
    gap: 90px;
    align-items: center;
}
.text_about{
font-weight: 300;
font-style: inherit;
font-size: 14px;
line-height: 140%;
letter-spacing: 0%;
text-transform: uppercase;
color: #FFFFFF;
display: flex;
gap: 50px;
}
.beetwin{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}
.moscow{
    display: flex;
    align-items: center;
    gap: 2px;
}
.pictures{
    background-image: url(./photo/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 290px;
    margin: auto;
    display: flex;

}
.bn{
     border-radius: 100px;
     border: 1px solid #ECECEC ;
     padding-top: 8px;
     padding-right: 12px;
     padding-bottom: 8px;
     padding-left: 12px;
     font-weight: 400;   
     font-size: 18px;
     line-height: 140%;
     text-align: center;
     background-color: #47617800;
     color: #FFFFFF;
}
.btn3{
    background-color: #E53624;
    width: 320px;
    height: 52px;
}
h1{
font-weight: 700;
font-style: Bold;
font-size: 44px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #FFFFFF;
}
.abouttext{
    width: 238px;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 140%;
    font-style: unset;
}
.aboutbutton{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.hider2{
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}
.abouttext2{
    width: 357px;
    height: auto;
font-weight: 700;
font-style: Bold;
font-size: 23px;
line-height: 100%;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 10px;
}
.about{
font-weight: 400;
font-size: 14px;
color: #b6b6b6;
line-height: 140%;
margin-top: 15px;
text-transform: none;
}
.puslugi{
font-weight: 700;
font-style: Bold;
font-size: 66px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
width: 40%;
margin: auto;
margin-top: 50px;

}
.flexremont{
    width: 75%;
    display: flex;
    margin: auto;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.colortext{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #476178;
    padding: 0 66px;
    width:513px ;
    height: 715px;
    justify-content: center;
}
.x2{
  width: 315px;
  line-height: 140%;

}
h2{
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #FFFFFF;
}
.texPickflex{
    display: flex;
}
.img{
    width: 1280px;
}


@media (max-width:510px) {
    
.comp{
    display: none;
}
.phone{
    display: block;
}
.vashdom{
    width: 90%;
    justify-content: space-between ;
    margin: auto;

}
.beetwin{
    width: 100%;
}
.aboutbutton{
    width: 100%;
}
.hider2{
    width: 343px;
    height: 180px;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    background-image: url(./photo/Rectangle\ 7\ tel.png);
    padding: 0 10px;
    margin: auto;
}

h1{
    font-size: 24px;
}
.abouttext{
    width: 90%;
    font-size: 14px;
}
.bn{
    margin-top: 15px;
}
.btn3{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    margin-top: 10px;
}
.uslugi_i_towari{
    flex-direction: column;
    width: 100%;
    margin: 0px;
}
.puslugi{
    width: 100%;
    font-size: 44px;
}
.flexremont{
    flex-direction: column;
    margin-top: 10px;
}
.abouttext2{
    margin-top: 40px;
    font-size: 24px;
}
.about{
    font-size: 18px;
    color: #b6b6b6;

}
.texPickflex{
    flex-direction: column;
    gap: 0px;
    width: 100%;
    height: 710px;
}
.img{
    width: 100%;
    height: 271px;
}
.colortext{
    width: 100%;
    margin-top: 0px;
   padding: 0px;
   align-items: center;
   padding-top: 50px;
   gap: 10px;

}
.btn3wi{
    width: 80%;
}
}