*{
    margin: 0px;
}
.comp{
    display: block;
}
.phone{
    display: none;
}

.section_menu{
    background-color: #476178;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vashdom{
    display: flex;
    gap: 90px;
    align-items: center;
}
.text_about{
font-weight: 300;
font-style: inherit;
font-size: 14px;
line-height: 140%;
letter-spacing: 0%;
text-transform: uppercase;
color: #FFFFFF;
display: flex;
gap: 50px;
}
.beetwin{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}
.moscow{
    display: flex;
    align-items: center;
    gap: 2px;
}












@media (max-width:510px) {
    
.comp{
    display: none;
}
.phone{
    display: block;
}
}